*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Segoe UI",Arial,sans-serif;
    
}
main{
    margin: 10px 20px;
}
/********txt about*******/
#txtabout h3{
    padding: 25px 25px;
}
#txtabout p{
    padding: 0px 25px;
}
.teamwork{
    margin-left: 50px;
    margin-top: 35px;
    width: 20%;
    float: left;

}
.teamwork .imgteamwork{
    width: 100%;
}
.teamwork h3{
    padding:10px 0px ;
}
.teamwork p span{
    color: #c1c1c1;
}
.teamwork p{
    padding-top: 10px;
}
.teamwork .buttuncontact{
    margin-top: 10px;
    width: 100%;
    padding: 5px 0px;
    border: none;
}
.teamwork .buttuncontact:hover{
    background-color: #c1c1c1;
}
nav  {
    width: 100%;
    position: fixed;
    z-index: 1;
    text-shadow:2px #fdfdfd17 ;
    background-color: white;

    
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: black;
    padding: 15px 15px ;
    text-decoration: none ;

}
nav ul li a:hover{
    background-color: rgba(98, 92, 92, 0.239);
    color: black;
}
#nav{
    font-weight: bold;
    letter-spacing: 1px;
}
header{
    position: relative;
}
.above{
    position: absolute;
    top:100px;
    left:100px;
    color:white ;
    background-color: black;
}

